.book-container {
    position: relative;
    width: 200px;
    height: 300px;
}

.book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    display: block;
    transition: 0.3s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.book-title {
    color: #3b3c43;
    font-weight: bold;
    margin-bottom: 15px;
}

.book-author {
    color: #3b3c43;
    margin-bottom: 3px;
    font-size: 14px;
}

.book-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    width: 90%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.book-container:hover .book-overlay {
    opacity: 1;
}

.book-container:hover .book-image {
    opacity: 0.1;
}

.w-60p {
    width: 60%;
}

.filter-container {
    width: 15%;
}

.books-container {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}
/* 
@media (max-width: 480px) {
    .books-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .filter-book-container {
        display: flex;
        justify-content: center;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .books-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .filter-book-container {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    .books-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .filter-book-container {
        width: 90%;
    }
}

@media (max-width: 1440px) {
    .books-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .filter-book-container {
        width: 90%;
    }
}

@media (max-width: 1920px) {
    .books-container {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    .filter-book-container {
        width: 80%;
    }
} */
